header {
  display: flex;
  justify-content: center;
  flex-flow: row-reverse;
  align-items: center;
  margin-top: 18px; }
  header .header-dec {
    margin: 10px;
    display: flex;
    flex-flow: column;
    align-items: center; }
    header .header-dec .header-btns button {
      background: #38ada9;
      border: 0px solid white;
      color: white;
      padding: 15px 30px;
      border-radius: 18px;
      margin-top: 13px; }
      header .header-dec .header-btns button:hover {
        background: #57606f; }
